<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title><%= title %></title>
</head>
<body>
<% if (servicecenters.length) { %>
	<table border=1>
		<caption>Service Center List</caption>
		<tr><th>Name</th><th>Address</th><th>Tel</th><th></th><th></th></tr>
		<% servicecenters.forEach(function(serivcecenter) { %>
			<tr>
				<td><%= serivcecenter.company %> <%= serivcecenter.dealer %> <%= serivcecenter.title %></td>
				<td><%= serivcecenter.address %></td>
				<td><%= serivcecenter.tel %></td>
				<td><a href="#">Edit</a></td>
				<td><a href="#">Delete</a></td>
			</tr>
		<% }); %>
	</table>
<% } %>
</body>
</html>