<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title><%= title %></title>
</head>
<body>
<h1><%= servicecenter.company %> <%= servicecenter.dealer %> <%= servicecenter.title %></h1>
<ul>
<li>title : <%= servicecenter.title %></li>
<li>address : <%= servicecenter.address %></li>
<li>tel : <%= servicecenter.tel %></li>
</body>
</html>